
body{font-family: poppins,sans-serif;}
header{ width: 1000px;
margin: auto;
background-image: url(imagenes/fondo.jpg);
height: 300px;
padding: 10px;}
main{margin: auto;width: 900px;}
h1{width: 500px;height: 100px;background-color: white;line-height: 100px;text-align: center;}